<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="#" th:action="@{/login}" method="get">

    <table>
        <tr>
            <td>账号:</td>
            <td><input type="text" name="account"/></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input name="password" type="password"/></td>
        </tr>
        <tr>
            <td rowspan="2"><input type="submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>